a, p, h1 {
  margin: 0;
  padding: 0;
}
.extra-text {
    display: none;
    margin-left: 20px;
    font-style: italic;
}

.expand-btn {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
